This Jupyter notebook will be used to carry out Capstone project for IBM data science professional certification.

Part-1: Scrap Wikipedia page to get Toronto postal code data and transform them into pandas dataframe

In [3]:
import pandas as pd
import numpy as np

In [1]:
print ('Scrapping and getting Toronto postal code data')

Scrapping and getting Toronto postal code data

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#This returns list of DataFrames 
df_list = pd.read_html(url)
#Total number of tables found
len(df_list)

3

In [12]:
#To access the Toronto postal code table, simply access that corresponding element of the list.
from pandas import DataFrame
df_toronto=df_list[0]
df_toronto

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [14]:
#Remove all the rows from the dataframe where Borough is 'Not Assigned'

df_toronto.drop(df_toronto[df_toronto.Borough=='Not assigned'].index, inplace=True)

Update the DataFrame - For Neighbourhood with 'Not Assigned' update is made to assign the Borrough name as Neighbourhood name

In [29]:
#Replace all 'Not Assigned' neighbourhood with the corresponding borrough name
#Use Numpy library to crry out the replacement
df_toronto['Neighbourhood']=np.where(df_toronto['Neighbourhood']=='Not assigned', df_toronto['Borough'], df_toronto['Neighbourhood'])
df_toronto

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [20]:
#Print Number of rows of the final dataframe
df_toronto.shape

(103, 3)

**********************This is the end of Part-1 of the assignment******************************

Part-2: Retrieving geographical co-ordinates of the relevant 103 postal codes available in the df_toronto dataframe and add latitude and longitude column in the dataframe

Here I have used the CSV file in the location http://cocl.us/Geospatial_data to get the matching co-ordinates for relevant Postal codes

In [22]:
#Read the CSV file into a dataframe
!wget -O Geospatial_Coordinates.csv http://cocl.us/Geospatial_data/Geospatial_Coordinates.csv

coordinate_df = pd.read_csv("Geospatial_Coordinates.csv")

--2021-01-28 02:09:51--  http://cocl.us/Geospatial_data/Geospatial_Coordinates.csv
Resolving cocl.us (cocl.us)... 169.63.96.176, 169.63.96.194
Connecting to cocl.us (cocl.us)|169.63.96.176|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv [following]
--2021-01-28 02:09:51--  https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv
Connecting to cocl.us (cocl.us)|169.63.96.176|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-01-28 02:09:52--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 185.235.236.197
Connecting to ibm.box.com (ibm.box.com)|185.235.236.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-01-28 02:09:52--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-01-28 02:09:53--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.29.201
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.29.201|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!NTwU18X_M8ri0MkGYx3VVIQZ0mBBXv04PHqYqNzPBzBXIP355Z3dSmqgMWxG9pUKtLnMXCyIQU4HxXpqAR6QNndkYCruxAR7DoMqdp6Zwq16oQmCb8rc6utKr4t1BMMTfOj3PtwHo3CM44JTuI-dCRiwWa22FcYZHZ45G6GhOyaK7fPJqv2kOh008xYKgmz1twWdkIJjgcggWjCG31xg2P5bd1TmtgkgZ7g3LIyizWYWa1E5dYFqMdY1pzp2dazQ2DdBjB4n_nI_oHa4bee2i6wwQSmoUgNrp3sA1J1JAwEZlXMkG99-2NSNYTS4Q8pw5SrKUZGHkTk_ytR3RR3uu8C_bpi1CH-fbJyY2ngS5BXCG2ABIaof4vijIe3KJDKi1gveeRsANYrTYuEOE-wMbOn0YkmHfY9YfZ4KmR3aviGVwkTHyc-_hEyiX28cq9J-5ZOM_ZnHOHWr2RgW7xr_gS8bF6aXS2UF3movhMaUlMFSShznr2gxzVzKOk1__rQgoil8zHlVZ5zViHEsLfDLNJi9AaVWsHjl1GjHFOsnhuDGDxAAfaoRJLGgdlbKeGbO0dVnm4YeVbpt-ShvZ2RTDTA9347KbwTM_NZN48Ta8I_2qf5J9l-D0iXgTktidYFL5dOGTlx_N65dJhpJs2ZlJZTLX8sNVkcsGrZtAyQZ_AlfQC4G6-14NcY-NufSQqPJh5Cp0-CDH-RZWZehtMVRUIeL4mWPvqhI0JYjGHQmiFjWRLDBmBtKO3E_B7OG9SbMsnbaj3OAECP3jJkgWf1gSMDaYUDc5w5jyh33QAog9t9OHcRWVXS1mqSesKoBMVh94_F4MhcuLOhsLi51a25kiwNLE0cjKHQFLoEhaYv1FHvoXf5oc3BYBaKcgBI1hjQ3OC354R4pwmSEwFcc4sdjbxWXvv-_kh3w8Tatz_-QDtt5kcbo1RHkYguBaWQQPcMH_MtJ4fVcyqUThFrcCpAk3I5VTFSIk24LQ5bdPZ1LyzFbwVrxmv-SbCs7A4_GFdCQo6AbY2s7fgRF-QFfpvpcTKigGcjMe66BjrvGIM7NwmYcsIFReoCIizMkShvrwGXV2afoYQySw365ELI09mEdHjpe1G4bVMkeGhbSnjgfcVNTpi9-p2Phk2O2aDJIpJzA6qMlLVqRQLVZycJXoBsIl7iOMdEc9mQg4WEuBaNOFBmiYTSB_uajYgHdVs8-UZW6px_DQcTtzVe7592DQ3Q7m0Zs2a2lUM_UnUViz-4KbD151XVPFj2_eTzHH74peULnpyyAw9q63uWt0l4fhOGAridk0DB3pIR4Nt0FM0kU5WZm4LTDir_sxE4w3HcvYBBjIuTb_Y3CDEy0qmsdvghkJwPDT29oAsDUGSOEXVjPdk8OHZw4-kx6W-BPOQBlrqAGl7e1EUrmvhI5eNQKOFGOc9eGtolG-mvsS1Fjs66z2JUZ1dGZcEDkegBVRYWSBoIQLCFcuX06vgeBL1Bn/download [following]
--2021-01-28 02:09:54--  https://public.boxcloud.com/d/1/b1!NTwU18X_M8ri0MkGYx3VVIQZ0mBBXv04PHqYqNzPBzBXIP355Z3dSmqgMWxG9pUKtLnMXCyIQU4HxXpqAR6QNndkYCruxAR7DoMqdp6Zwq16oQmCb8rc6utKr4t1BMMTfOj3PtwHo3CM44JTuI-dCRiwWa22FcYZHZ45G6GhOyaK7fPJqv2kOh008xYKgmz1twWdkIJjgcggWjCG31xg2P5bd1TmtgkgZ7g3LIyizWYWa1E5dYFqMdY1pzp2dazQ2DdBjB4n_nI_oHa4bee2i6wwQSmoUgNrp3sA1J1JAwEZlXMkG99-2NSNYTS4Q8pw5SrKUZGHkTk_ytR3RR3uu8C_bpi1CH-fbJyY2ngS5BXCG2ABIaof4vijIe3KJDKi1gveeRsANYrTYuEOE-wMbOn0YkmHfY9YfZ4KmR3aviGVwkTHyc-_hEyiX28cq9J-5ZOM_ZnHOHWr2RgW7xr_gS8bF6aXS2UF3movhMaUlMFSShznr2gxzVzKOk1__rQgoil8zHlVZ5zViHEsLfDLNJi9AaVWsHjl1GjHFOsnhuDGDxAAfaoRJLGgdlbKeGbO0dVnm4YeVbpt-ShvZ2RTDTA9347KbwTM_NZN48Ta8I_2qf5J9l-D0iXgTktidYFL5dOGTlx_N65dJhpJs2ZlJZTLX8sNVkcsGrZtAyQZ_AlfQC4G6-14NcY-NufSQqPJh5Cp0-CDH-RZWZehtMVRUIeL4mWPvqhI0JYjGHQmiFjWRLDBmBtKO3E_B7OG9SbMsnbaj3OAECP3jJkgWf1gSMDaYUDc5w5jyh33QAog9t9OHcRWVXS1mqSesKoBMVh94_F4MhcuLOhsLi51a25kiwNLE0cjKHQFLoEhaYv1FHvoXf5oc3BYBaKcgBI1hjQ3OC354R4pwmSEwFcc4sdjbxWXvv-_kh3w8Tatz_-QDtt5kcbo1RHkYguBaWQQPcMH_MtJ4fVcyqUThFrcCpAk3I5VTFSIk24LQ5bdPZ1LyzFbwVrxmv-SbCs7A4_GFdCQo6AbY2s7fgRF-QFfpvpcTKigGcjMe66BjrvGIM7NwmYcsIFReoCIizMkShvrwGXV2afoYQySw365ELI09mEdHjpe1G4bVMkeGhbSnjgfcVNTpi9-p2Phk2O2aDJIpJzA6qMlLVqRQLVZycJXoBsIl7iOMdEc9mQg4WEuBaNOFBmiYTSB_uajYgHdVs8-UZW6px_DQcTtzVe7592DQ3Q7m0Zs2a2lUM_UnUViz-4KbD151XVPFj2_eTzHH74peULnpyyAw9q63uWt0l4fhOGAridk0DB3pIR4Nt0FM0kU5WZm4LTDir_sxE4w3HcvYBBjIuTb_Y3CDEy0qmsdvghkJwPDT29oAsDUGSOEXVjPdk8OHZw4-kx6W-BPOQBlrqAGl7e1EUrmvhI5eNQKOFGOc9eGtolG-mvsS1Fjs66z2JUZ1dGZcEDkegBVRYWSBoIQLCFcuX06vgeBL1Bn/download
Resolving public.boxcloud.com (public.boxcloud.com)... 185.235.236.200
Connecting to public.boxcloud.com (public.boxcloud.com)|185.235.236.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_Coordinates.csv’

Geospatial_Coordina 100%[===================>]   2.82K  --.-KB/s    in 0s

2021-01-28 02:09:54 (53.5 MB/s) - ‘Geospatial_Coordinates.csv’ saved [2891/2891]

In [23]:
coordinate_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [31]:
#Add Latitude and Longitude columns in the df_toronto dataframe
toronto_postalcodes_coordinates_df=pd.merge(df_toronto, coordinate_df, how='inner', on=['Postal Code'])

In [32]:
#Print the consolidated dataframe
toronto_postalcodes_coordinates_df

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999